
h1 {
    background-color: #0B486B;
    color: rgb(130, 194, 194);
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Optima", sans-serif;
    box-shadow: 1px 1px 5px rgb(3, 42, 65);
    margin-top: 0%;
}